.holder {
  height: 100px;
  display: flex;
  justify-content: center;
  position: relative;
  top: 30%;
  align-items: center;
}
.bottom-lined {
  align-items: flex-end;
}
.bars {
  background-color: black;
  width: 12px;
  height: 80px;
  float: left;
  margin-right: 10px;
  transition: all 0.2s linear;
}
.button-holder {
  display: flex;
  flex-direction: row;
}
